@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: theme('colors.background');
    color: theme('colors.text');
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

a, a span, a svg {
    font-weight: bold;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

a:hover {
    color: theme('colors.hypertext');
}

#cursor {
    background-color: theme('colors.cursor');
}